<?xml version="1.0"?>
<launch>

    <arg name="world" default="$(find px4)/Tools/simulation/gazebo-classic/sitl_gazebo-classic/worlds/aruco.world"/>

    <include file="$(find px4)/launch/mavros_posix_custom.launch">
        <arg name="world" value="$(arg world)"/>
        <arg name="vehicle" default="iris"/>
        <arg name="sdf" default="$(find px4)/Tools/simulation/gazebo-classic/sitl_gazebo-classic/models/iris_fpv_cam/iris_fpv_cam.sdf"/>
        <arg name="x" value="1.95"/>
        <arg name="y" value="-4.0"/>
        <arg name="z" value="0.0"/> 
	</include>

 
    <!-- Our node to control the drone -->
	<node pkg="fyp" type="cv_tag.py" name="cv_tag_py" required="true" output="screen" />
        <!-- Our node to control the drone -->
	<node pkg="fyp" type="camfeed.py" name="camfeed_py" required="true" output="screen" />

</launch>
